@import './Variables.scss'; 
@import '../Containers/App/App.scss';
@import '../Components/Header/Header.scss';
@import '../Containers/NoteCard/NoteCard.scss';
@import '../Components/NoteItem/NoteItem.scss';
@import '../Containers/NoteContainer/NoteContainer.scss';
@import '../Components/NewCard/NewCard.scss';

body {
  margin: 0;
  font-family: "Roboto",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
