@import './_Normalize';
@import './_Variables';
@import '../Components/App/App.scss';
@import '../Components/Header/Header.scss';
@import '../Components/NoteCard/NoteCard.scss';
@import '../Components/NoteItem/NoteItem.scss';
@import '../Components/NoteContainer/NoteContainer.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
