.note-container-component {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

@media (max-width: 1200px)
{
  .note-container-component {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 768px)
{
  .note-container-component {
    columns: 2;
  }
}

@media (max-width: 480px)
{
  .note-container-component {
    columns: 1;
  }
}