@import "../../Sass/variables";

.not-found-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;

  .not-found {
    margin: 120px auto 0 auto;
    width: 50%;
  }

  .home-btn {
    background-color: $four0four-background;
    border-color: $four0four-color;
    border-radius: 5px;
    color: $four0four-color;
    height: 80px;
    width: 300px;

    &:focus {
      outline: none;
    }
  }
}