@import "../../Sass/Variables.scss";

.header-component {
  background-color: $header-color;
  height: 10vh;
  margin-top: 0;
  width: 100vw;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
  
  .logo {
    color: $logo-color;
    margin: 5px auto;
    margin-left: 65px;
    font-size: 2em;
    font-weight: 300;

    &::before {
      content: "";
      background-image: url('../Assets/pin.png');
      @include background-style;
      height: 9vh;
      left: 10px;
      position: absolute;
      width: 8vw;
      ;
    }

    span {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  header a:nth-child(2){
    margin: 20px;
  }

  .add-note {
    background-color: #fafbff00;
    background-image: url('../Assets/plus.svg');
    @include background-style;
    border: none;
    cursor: pointer;
    height: 5vh;
    margin: auto;
    width: 33px;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: .6;
    }
  }
}

@media screen and (max-width: 414px) {
  .header-component .logo::before {
    width: 14vw;
    left: 10px;
    top: 10px;
  }
  
  .header-component .logo {
    margin-left: 54px;
    font-size: 1.8em;
  }

  .header-component .add-note {
    width: 45px;
    margin-bottom: 12px;
    margin-left: 67px;

  }
}

@media screen and (max-width: 375px) {
  .header-component .logo {
    margin-left: 35px;
  }
}