@import "../../Sass/variables";

.header-component {
  background-color: $header-color;
  height: 100px;
  margin-top: 0;
  width: 100vw;
  
  .logo {
    color: $logo-color;
    margin: 5px auto;
    margin-left: 65px;
    float: left;
    font-family: 'Lora', serif;
    font-size: 70px;

    &::before {
      content: "";
      background-image: url('../Assets/pin.png');
      @include background-style;
      height: 75px;
      left: 10px;
      position: absolute;
      width: 75px;
    }
  }

  .add-note {
    background-color: $header-color;
    background-image: url('../Assets/plus.svg');
    @include background-style;
    border: none;
    cursor: pointer;
    float: right;
    height: 65px;
    margin: 20px 20px;
    width: 65px;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: .6;
    }
  }
}

