.note-item-component {
  border: 1px solid #edeeed;
  display: flex;
  align-items: center;
}

.checked + p.list-item {
  text-decoration: line-through;
}

// .note-item-component:hover, .remove-content:hover {
//   opacity: 1;
//   cursor: pointer;
// }

.remove-content {
  background: none;
  border: 0;
  line-height: 1;
  opacity: 0;
  transition: all 0.2s;
}

.list-item {
  margin: 10px 0 0 0;
  background-color: #ffff88;
  border: none;
  width: 90%;
  height: 30px;
  font-size: 15px;

  &:focus {
    outline: none;
  }
}

.checked {
  background-image: url('../Assets/checked.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.unchecked {
  background-image: url('../Assets/unchecked.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
}