.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../Assets/corkboard.jpg');
  height: 100%;
  width: 100vw;
}

.center-new-card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 200px 0;
}