.note-container-component {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.note-container-start {
  margin: 150px auto;
  width: 300px; 
  height: 230px;
  background-color: #ffff88;
  box-shadow: 3px 10px 10px -10px rgba(0,0,0,0.75); 
  
}

.intro-title {
  padding-top: 30px;
}

.intro-paragraph {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px)
{
  .note-container-component {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 768px)
{
  .note-container-component {
    columns: 2;
  }
}

@media (max-width: 480px)
{
  .note-container-component {
    columns: 1;
  }
}