@import "../../Sass/variables";

.note-card-component {
  background-color: $card-color;
  break-inside: avoid;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  .note-title {
    text-transform: capitalize;
    font-size: 35px;
    padding-bottom: 15px;
    width: 99%;
  }
  
  .note-options {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;

    .edit-note-btn {
      color: black;
      margin-left: 14px;
      font-size: 30px;

      &:hover {
        color: rgb(246, 8, 8);
        cursor: pointer;
        z-index: 1;
        transform: scale(1.1)
      }
    }
  }

  .red-delete-btn {
    background-image: url('../Assets/red-waste-bin.svg');
    @include card-icon;
  }

  .delete-btn {
    background-image: url('../Assets/trashcan.svg');
    @include card-icon;
  }
}